.main-content {
    background: #f2f3f5;
    overflow: hidden;
}

.main-content .car-container {
    padding-left: 100px;
    padding-right: 100px;
}

.car-content {
    height: 150px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content .car-container .car-img {
    width: 180px;
    height: 105px;
    margin-top: 25px;
    margin-left: 20px;
}

.main-content .car-container .car-desc-box {
    width: 200px;
    height: 90px;
    margin-left: 30px;
    margin-top: 30px;
}

.main-content .car-container .car-name {
    font-size: 16px;
    color: #60606c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-content .car-container .car-desc {
    font-size: 13px;
    color: #93939e;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-content .car-container .conf-btn {
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    background: #fabe00;
    color: #fff;
    border: 0;
    border-radius: 4%;
    margin-top: 5px;
}

.main-content .car-container .conf-btn:hover {
    background: #FF8650;
}

.main-content .car-container .date-address-box {
    width: 230px;
    height: 90px;
    margin-left: 20px;
    margin-top: 30px;
    border-left: 1px solid #e4e6e9;
    padding-left: 10px;
    padding-right: 10px;
}

.main-content .car-container .date-address-title {
    margin-top: 7px;
}

.main-content .car-container .date-address-box .text-common {
    width: 180px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #93939e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-content .car-container .date-address-box .title-text {
    font-size: 16px;
    color: #60606c;
}

/*价格*/
.main-content .car-container .price-content {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px 20px 25px 20px;
}

.main-content .car-container .price-title {
    font-size: 16px;
    color: #2b99ff;
    border-bottom: 2px solid #c8c8ce;
    margin-bottom: 20px;
}

.main-content .car-container .price-text {
    font-size: 14px;
    color: #60606c;
    margin: 0 20px 15px 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c8c8ce;
}

.main-content .car-container .nodebuct-label {
    font-weight: normal;
}

.main-content .car-container .total-text {
    font-size: 14px;
    color: #60606c;
    margin: 0 20px 15px 20px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.main-content .car-container .calc-price {
    font-size: 13px;
    color: #93939e;
    margin-right: 15px;
    margin-top: 5px;
}

.main-content .car-container .sub-price {
    font-size: 20px;
    color: #fabe00;
    font-weight: bold;
}

.main-content .car-container .real-money {
    font-size: 20px;
    color: #fabe00;
    font-weight: bold;
}

.main-content .car-container .submit-btn {
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    background: #fabe00;
    color: #fff;
    border: 0;
    border-radius: 4%;
    margin-top: 5px;
}

.main-content .car-container .submit-btn:hover {
    background: #FF8650;
}

/*注意事项*/
.caution-content {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px 20px 25px 20px;
}

.main-content .car-container .caution-title {
    font-size: 16px;
    color: #2b99ff;
    border-bottom: 2px solid #c8c8ce;
    margin-bottom: 20px;
    font-weight: bold;
}